@import "./global.module";

.Rows {
  &:hover {
    background-color: map-get($colors, lightGreen) !important;
  }
}

.Header {
  font-weight: 600 !important;
  color: map-get($colors, blackMain) !important;
}
