@import "./global.module";

.Rows {
  color: map-get($colors, blackMain) !important;

  &.Selected,
  &:hover {
    background-color: map-get($colors, greenlight) !important;
  }
}

.Header {
  font-weight: 600 !important;
  color: map-get($colors, blackMain) !important;
}

.Options {
  div {
    width: 150px;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    font-size: 14px;

    &:hover {
      background-color: map-get($colors, grayCLighter);
    }
  }

  i {
    color: map-get($colors, blackMain);
  }
}

.Icon {
  color: map-get($colors, blackMain);
  cursor: pointer;
}

.varsHeader {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  > span {
    font-weight: 600;
    color: map-get($colors, blackMain);
  }
}
