@import "../../../styles/global.module";

.Success {
  background-color: map-get($colors, mainGreen) !important;
  color: white !important;
  &:hover {
    background-color: map-get($colors, greenDark) !important;
  }
}

.Cancel {
  box-sizing: border-box !important;
  background-color: none !important;
  color: map-get($colors, blackMain) !important;
  background-color: map-get($colors, grayC) !important;
  &:hover {
    background-color: map-get($colors, blackLighter) !important;
    color: white !important;
  }
}

.Disabled {
  opacity: 0.5;
  color: gray !important;
  background-color: map-get($colors, grayC) !important;
}
