@import "../../styles/global.module";


.Header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.MessageRes {
  text-align: center;
}

.TableUsers {
  width: 100%;
  margin-bottom: 16px;
}
.TableUserVar {
  width: 100%;
}

@media (min-width: 1050px) {
  .Title {
    font-weight: 600;
  }

  .TableContainer {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 25px;
  }

  .TableUsers {
    grid-column: span 9;
    margin-bottom: 20px;
  }
  .TableUserVar {
    grid-column: span 3;
  }
}
